.my-image {
    margin: 50px;
    width: 30%;
    height: 10%;
    border-radius: 15%;
}

.ots {
    margin-left: 400px;
    margin-right: 400px;
}

.my-image2{
    margin: 20px;
    width: 40%;
    height: 40%;
    border-radius: 30%;

}


.bor{ 
    border: 4px double rgb(0, 0, 0);
    background-color:rgb(182, 182, 182); 
    margin: 20px;
    width: 100%;
    height: 15%;
} 

.bor2{
    border-radius: 10%;
    border: 0px double black;
    background-color: rgb(180, 180, 180);
    margin: 20px;
    width: 100%;
    height: 30%;
}

.rty {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

.tileshow {
    display: block;
}

.bor3{
    border: 0px double black;
    background-color: rgb(60, 60, 60); 
    margin-top: 30px;
    width: 100%;
    height: 200px;

}

.asdasd{
    margin: 20px;
}
.bor4{
    border: 0px double black;
    background-color: rgb(100, 100, 100); 
    width: 100%;
    height: 200px;
    margin: 50px;
    width: 30%;
    height: 10%;
    border-radius: 15%;
}


#topi {
    display: inline-block;
}

.dsa{
    color: white;
        font-size: 30px;
}